


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div *ngIf="selectedHero">
    <h2>HeroName:: {{selectedHero.name | uppercase}} Details...app.module.ts imports form to bind form data</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name">
      </label>
    </div>
</div>
